.menu-square-rolling {
  position: relative;
  width: 100px;
  text-align: left;
  cursor: pointer;
  font-family: var(--font-primary);
  color: var(--gray-color);
}

@media (min-width: 1024px) {
  .menu-square-rolling .menu-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .menu-square-rolling .menu-icon {
    width: 30px;
    height: 30px;
  }
}

.menu-box {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5vh;
  border: 1px solid #ddd;
  width: 180vh; /* Ajuste a largura conforme necessário */
  z-index: 10;
  margin-left: -47vh;
  display: flex;
  justify-content: space-between;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.column-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 20vh;
}

.column-categories {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
}

.menu-item {
  font-family: var(--font-primary);
  color: var(--gray-color);
  text-align: left;
  font-size: 14px;
  margin: 5px 0;
}
